* {
    font-family: stevie-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    }

h2 {
    text-decoration: overline; 
}

.navigation {
    overflow: hidden;
    background-color: #FFFFFF;
    margin-right: 10px;
}

.navigation a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.navigation a:active {
    background-color: #FFFFFF;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 3.5em;
}

.content h1 {
    font-size: 2em;
    font-style: italic;
    text-decoration: line-through 1px;
}

.content p {
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

/*Description*/
p {
    width: 80%;
}

.description {
    font-size: 1.5em;
    margin-top: 1em;
}

/*Sections*/

.sections {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

h3 {
    font-weight: bolder;
    font-style: italic;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 0px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #000000;
}

.responses {
    flex: 1; /* Allow the text to take up the available space */
    list-style-type: disc;
    padding-right: 20px; /* Space between text and image */
}

.listheader {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .5em;
    margin-top: 1em;
}

.image {
    width: 200px; /* Adjust image size as needed */
    height: auto;
    object-fit: cover;
    margin-left: 70px; /* Add space between the text and image */
    margin-right: 20px;
}

.A {
    font-weight: bold;
}

figcaption {
    font-size: .75em;
    font-style: italic;
    width: 200px;
    margin-left: 70px;
}
